
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutMain</title>
</head>
<body>
    <div> 
        哈哈哈哈或
    </div>
</body>
</html>
