#topbar .navbar-header #logo span.logo-text {
    font-size: 19px !important;
}
#myCloseableTabContent {
    padding-top: 2px;
}
.fixed-table-pagination {
    margin: 0 10px;
}

/*复选框样式*/
.checkbox-custom {
    display: none;
}
    .checkbox-custom + label {
        display: inline-block;
        width: 48%;
        margin-top: 7px;
        text-align: left;
        -webkit-box-sizing: border-box;
        padding:0px;
    }

.checkbox-lable-custom::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #EEE;
    vertical-align: middle;
    -webkit-border-radius: 20%;
    margin-right: 5px;
    -webkit-box-sizing: border-box;
    -webkit-transition: background ease-in .5s
}

.checkbox-custom:checked + label::before {
    background-color: rgb(53, 183, 111);
    border: 5px #EEEEEE solid;
}
.tab-content {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important
}
.bs-bars.pull-left {
    margin-top:0px !important;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#wrapper {
    height: 100% !important;
    width: 100%;
}
#page-wrapper {
    /*height:100% !important;*/
}
.navbar-static-side {
    height: 100%;
    width: 100%;
    position:fixed !important;
    padding-top:50px !important;
}
#vue-app {
    padding-bottom: 20px;
    min-height: 100% !important;
}
.daterangepicker {
    top: 91px !important;
}

/*开关样式*/
.chooseBtn {
    display: none;
}
.choose-label {
    box-shadow: #ccc 0px 0px 0px 1px;
    width: 20px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    background-color: #bdbdbd;
    overflow: hidden;
    margin-bottom: 0px;
}

    .choose-label:before {
        content: '';
        position: absolute;
        left: 0;
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 10px;
        background-color: #fff;
        z-index: 20;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

.chooseBtn:checked + label.choose-label:before {
    left: 10px;
}

.chooseBtn:checked + label.choose-label {
    background-color: #51ccee;
}

.table-btn {
    line-height:1.2;
}
.fixed-table-container input[type=checkbox] {
    top: 2px;
    position: relative;
}
.fixed-table-container {
    border-radius: 0px !important;
}

.sidebar-collapse.menu-scroll {
    height: 100% !important;
    overflow: auto
}

    .sidebar-collapse.menu-scroll::-webkit-scrollbar {
        width: 5px;
        height: 16px;
        background-color: #374d63;
        /*display:none*/
    }
/*定义滚动条的轨道，内阴影及圆角*/
    .sidebar-collapse.menu-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #374d63;
    }
/*定义滑块，内阴影及圆角*/
    .sidebar-collapse.menu-scroll::-webkit-scrollbar-thumb {
        /*width: 10px;*/
        height: 20px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #808080;
    }

.sales-item {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 13px
}