
@{
    ViewBag.Title = "HomeFooter";
}


<div class="footer">
    <div class="footerLink">
        <div class="linkWrap clearfix">
            <ul class="f_left linkList clearfix">
                <li>
                    <dl>
                        <dt>
                            <i class="icon1"></i>
                            <span>新手入门</span>
                        </dt>
                        <dd><a href="javascript:;">用户注册</a></dd>
                        <dd><a href="javascript:;">我要买</a></dd>
                        <dd><a href="javascript:;">我要卖</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon2"></i>
                            <span>交易指南</span>
                        </dt>
                        <dd><a href="javascript:;">自营现货</a></dd>
                        <dd><a href="javascript:;">自营期货</a></dd>
                        <dd><a href="javascript:;">自营点价</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon3"></i>
                            <span>常见问题</span>
                        </dt>
                        <dd><a href="javascript:;">会员管理</a></dd>
                        <dd><a href="javascript:;">资源供求</a></dd>
                        <dd><a href="javascript:;">交易活动</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="f_right ourMsg clearfix">
                <div class="detailInfo f_left">
                    <p class="connectUs">
                        <i></i>
                        <span>联系我们</span>
                    </p>
                    <p class="ml">工作时间：周一至周五9:30-17:00</p>
                    <p class="ml">咨询热线: 000-000</p>
                    <p class="ml">传真号码: 023-343</p>
                    <p class="ml">电子邮箱: ifo.com</p>
                </div>
                <div class="erweima f_right">
                    <img src="../../images/code.jpg" alt="Alternate Text" />
                    <p>咨询二维码</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outerNet clearfix">

        <div class="f_left outerNetList clearfix netAboutErwei">
            <div class="f_left listImgWrapper">
                <img src="../../images/code.jpg" alt="Alternate Text" />
            </div>
            <p class="listItem01">
                官方微信: 恒瑞麟网
            </p>
            <p class="listItem02">
                手机恒瑞麟,随时随地想卖想卖,一键搞定.
            </p>
            <div class="bigCode hideBack">
                <div>
                    <img src="../../images/code.jpg" alt="Alternate Text" />
                    <p>
                        关注恒瑞麟,更有料
                    </p>
                </div>
                <span></span>
            </div>
        </div>

        <div class="f_left outerNetList clearfix">
            <div class="f_left listImgWrapper">
                <img src="../../images/xinlang.png" alt="Alternate Text" />
            </div>
            <p class="listItem01 xinlang">
                官方新浪微博: 恒瑞麟信息技术有限公司
            </p>
            <p class="listItem02 xinlang">
                轻松点击,一键关注
            </p>
            <div class="focusOn">
                <a href="javascript:;">一键关注</a>
            </div>
        </div>

        <div class="f_left outerNetList clearfix">
            <div class="f_left listImgWrapper">
                <img src="../../images/logoImg.png" alt="Alternate Text" />
            </div>
            <p class="listItem01">
                官方网站: www.heroline.cn
            </p>
        </div>
    </div>

    <div class="footerCopyright">
        <p>
            <a href="javascript:;">关于我们</a>
            <a href="javascript:;">联系我们</a>
            <a href="javascript:;">加入我们</a>
            <a href="javascript:;">法律声明</a>
            <a href="javascript:;">隐私保护</a>
            <a href="javascript:;">意见反馈</a>
        </p>
        <p>
            <span>
                北京恒瑞麟信息技术有限公司
                <span>
                    版权所有
                    <span class="copyAt">©</span>&nbsp;
                    <span>All Rights Reserved</span>
                </span>
            </span>
        </p>
        <p>
            <span>
                <a href="javascript:;">浙ICP备15035075号-1</a>
                &nbsp;
                <a href="javascript:;">浙公网安备 33010802002975号</a>
                &nbsp;
                ICP证浙B2-2016119
            </span>
        </p>
    </div>
</div>
