@{
    ViewBag.Title = "HomeHead";
    Layout = null;
}
@using System.Web.Optimization
@model ABPProject.Sessions.Dto.GetCurrentLoginInformationsOutput
@section styles
{
    @Styles.Render("~/Home/css")

}
@section scripts
{
    @Styles.Render("~/Home/js")
}

<div class="notes" id="notes">
    <div class="noteWrap clearfix">
        <div class="f_left noteWelcome">
            欢迎光临恒瑞麟 
            @{
                if (ViewBag.IsLogin)
                {
                   <a href="javascript:;">【@Model.User.UserName】</a>
                }
                else
                {
                    <a href="/Account/Login">【<span>登录</span>】</a>
                    <a href="/Account/Register">【<span>注册</span>】</a>
                }
            }

        </div>
        <div class="f_right noteClockWrap">
            <i class="uico noteClock"></i>
            <span>09:00-17:00</span>
        </div>
        <ul class="f_right clearfix noteNav">
            <li>
                <a href="UserCenter">我的首页</a>
            </li>
            <li class="noteNetNav">
                <a href="javascript:;" class="navigation">
                    <i class="uico"></i>
                    网站导航
                </a>
                <div class="navBox">
                    <h6>
                        <i class="uico"></i>
                        网站导航
                    </h6>
                    <ul class="navList clearfix">
                        <li v-for="item in liShort" v-bind:class="[item.isLong ? 'liLong' : 'liShort']">
                            <h6>{{ item.title}}</h6>
                            <span v-for="itemInner in item.liInfo"><a v-bind:href="itemInner.href" > {{ itemInner.info }}</a></span>
                            
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:;">帮助中心</a>
            </li>
            @{
                if (ViewBag.IsLogin)
                {
                    if (IsGranted("Admin.Page"))
                    {
                        <li>
                            <a href="/Admin/Home">后台管理</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>

<div class="heads">
    <div class="headTop clearfix">
        <h1 class="f_left logoWrap">
            <a href="javascript:;"><img src="../../images/logos.jpg" /></a>
        </h1>
        <div class="searchBox f_left">
            <div>
                <form action="javascript:;" class="clearfix">
                    <div class="searchInfo f_left">
                        <div class="searchType">
                            <span>
                                <span class="f_left">
                                    产品
                                </span>
                                <i class="f_right uico"></i>
                            </span>
                            <div class="searchToggle">
                                <a href="javascript:;">咨询</a>
                            </div>
                        </div>
                        <div class="searchIpt">
                            <input type="text" value="请输入搜索内容" onblur="if(this.value=='')this.value='请输入搜索内容';" onfocus="if(this.value=='请输入搜索内容')this.value='';">
                        </div>
                    </div>
                    <input type="button" value="搜索" class="goSearch f_left" />
                </form>
            </div>
            <div class="hotWord">
                <a href="javascript:;" class="active">聚丙烯</a>
                <a href="javascript:;">电脑</a>
                <a href="javascript:;">无纺布</a>
            </div>
        </div>
        <ul class="headLink f_right clearfix">
            <li><a href="javascript:;"><i class="linkI01"></i><span>阳光交易</span></a></li>
            <li><a href="javascript:;"><i class="linkI02"></i><span>绿色储运</span></a></li>
            <li><a href="javascript:;"><i class="linkI03"></i><span>智慧融资</span></a></li>
        </ul>

    </div>
</div>

<div class="navs">
    <div class="navsWrap clearfix">
        <ul class="f_left List">
            <li class="active"><a href="javascript:;">首页</a></li>
            <li><a href="../Product/index">聚丙烯</a></li>
            <li><a href="javascript:;">电脑</a></li>
            <li><a href="javascript:;">仓储货运</a></li>
            <li><a href="javascript:;">在线融资</a></li>
            <li><a href="javascript:;">信息咨询</a></li>
        </ul>
        <span class="f_right phoneNum">
            <i class=""></i>
            <span>010-00000</span>
        </span>
    </div>
</div>

