@using System.Web.Optimization
@section styles
{
    @Styles.Render("~/Home/css")
}
@section scripts
{
    @Scripts.Render("~/Home/js")
}
<div class="wrapper" id="homeWrapper">
    @Html.Action("HomeHead","Home")
    <div class="slides">
        <div id="owl-demo" class="owl-carousel">
            <div class="item"><img src="../../images/slide (1).jpg" alt="slideImage"></div>
            <div class="item"><img src="../../images/slide (2).jpg" alt="slideImage"></div>
            <div class="item"><img src="../../images/slide (3).jpg" alt="slideImage"></div>
            <div class="item"><img src="../../images/slide (4).jpg" alt="slideImage"></div>
            <div class="item"><img src="../../images/slide (6).jpg" alt="slideImage"></div>
        </div>

        <div class="notice">
            <div class="noticeTitle">
                <em></em>
                最新数据
            </div>
            <div class="noticeList">
                聚丙烯现货成交量:<span>100</span>吨<br />
                聚丙烯现货库存量:<span>2000</span>吨<br />
            </div>
            <div class="noticeTitle">
                <em></em>
                最新公告
            </div>
            <div class="noticeList">
                <a href="javascript:;">平台基础网络升级</a><br />
                <a href="javascript:;">网站升级公告</a><br />
                <a href="javascript:;">网站升级公告</a><br />
            </div>
        </div>
    </div>
    <div class="main">
        <ul class="fastLink clearfix">
            <li>
                <em></em>
                <h3>采购</h3>
                <ul class="clearfix">
                    <li><a href="javascript:;">采购聚丙烯</a></li>
                    <li><a href="javascript:;">采购电脑</a></li>
                    <li><a href="javascript:;">我的采购</a></li>
                </ul>
            </li>
            <li>
                <em></em>
                <h3>销售</h3>
                <ul class="clearfix">
                    <li><a href="javascript:;">我要挂牌</a></li>
                    <li><a href="javascript:;">发布供应</a></li>
                    <li><a href="javascript:;">我的挂牌</a></li>
                    <li><a href="javascript:;">我的供应</a></li>
                    <li><a href="javascript:;">我的销售</a></li>
                </ul>
            </li>
            <li class="selected">
                <em></em>
                <h3>储运</h3>
                <ul class="clearfix">
                    <li><a href="javascript:;">在线预约</a></li>
                    <li><a href="javascript:;">整车预定</a></li>
                    <li><a href="javascript:;">我的预约</a></li>
                    <li><a href="javascript:;">我的订车</a></li>
                    <li><a href="javascript:;">货运追踪</a></li>
                    <li><a href="javascript:;">网点查询</a></li>
                </ul>
            </li>
            <li>
                <em></em>
                <h3>融资</h3>
                <ul class="clearfix">
                    <li><a href="javascript:;">天津银行</a></li>
                    <li><a href="javascript:;">建设银行</a></li>
                    <li><a href="javascript:;">中信银行</a></li>
                </ul>
            </li>
            <li>
                <em></em>
                <h3>咨询</h3>
                <ul class="clearfix">
                    <li><a href="javascript:;">聚丙烯咨询</a></li>
                    <li><a href="javascript:;">电脑资讯</a></li>
                    <li><a href="javascript:;">聚丙烯价格</a></li>
                    <li><a href="javascript:;">电脑价格</a></li>
                    <li><a href="javascript:;">聚丙烯生产</a></li>
                    <li><a href="javascript:;">电脑动态</a></li>
                </ul>
            </li>
        </ul>
    </div>
    @Html.Action("HomeFooter", "Home")
</div>
