@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "IndexMain";
}


@section styles
{
    @Styles.Render("~/Product/css")
}

@section scripts
{
    @*@Scripts.Render("~/Product/js")*@
    @Html.IncludeScript("~/Views/Product/indexMain.js")
}

<h3 class="wrapTitle">自营商城</h3>
<form action="javascript:;">
    <div class="breed">
        <div class="breedRow clearfix">
            <div class="breedTit f_left">
                品&nbsp;种
            </div>
            <div class="f_left breedWrap clearfix">
                <div class="f_left breedItem">
                    <div class="breedInner">
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF23</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF434</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF1</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF345</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF76767</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF23</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF434</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF1</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF345</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF76767</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF23</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF434</span>
                        </a>
                        <a href="javascript:;">
                            <input class="hideBack" type="checkbox" />
                            <span>LEDF1</span>
                        </a>
                        <a href="javascript:;">
                            <input class="hideBack" type="checkbox" />
                            <span>LEDF345</span>
                        </a>
                        <a href="javascript:;">
                            <input class="hideBack" type="checkbox" />
                            <span>LEDF76767</span>
                        </a>
                    </div>
                    <div class="breedSure hideBack">
                        <button class="breedButton buttonSure">确定</button>
                        <button class="breedButton buttonClose">取消</button>
                    </div>
                </div>
                <div class="f_left breedCheck">
                    <button>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        多选
                    </button>
                </div>
            </div>
        </div>

        <div class="breedRow clearfix">
            <div class="breedTit f_left">
                应&nbsp;用
            </div>
            <div class="f_left breedWrap clearfix">
                <div class="f_left breedItem">
                    <div class="breedInner">
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF23</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF434</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF1</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF345</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>LEDF76767</span>
                        </a>
                    </div>
                    <div class="breedSure hideBack">
                        <button class="breedButton buttonSure">确定</button>
                        <button class="breedButton buttonClose">取消</button>
                    </div>
                </div>
                <div class="f_left breedCheck">
                    <button>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        多选
                    </button>
                </div>
            </div>
        </div>

        <div class="breedRow clearfix">
            <div class="breedTit f_left">
                生产商
            </div>
            <div class="f_left breedWrap clearfix">
                <div class="f_left breedItem">
                    <div class="breedInner">
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>陕西北元</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>新疆天业</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>上海赛课</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>福建联合</span>
                        </a>
                    </div>
                    <div class="breedSure hideBack">
                        <button class="breedButton buttonSure">确定</button>
                        <button class="breedButton buttonClose">取消</button>
                    </div>
                </div>
                <div class="f_left breedCheck">
                    <button>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        多选
                    </button>
                </div>
            </div>
        </div>

        <div class="breedRow clearfix">
            <div class="breedTit f_left">
                所在地
            </div>
            <div class="f_left breedWrap clearfix">
                <div class="f_left breedItem">
                    <div class="breedInner">
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>陕西</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>新疆</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>上海</span>
                        </a>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            <span>福建</span>
                        </a>
                    </div>
                    <div class="breedSure hideBack">
                        <button class="breedButton buttonSure">确定</button>
                        <button class="breedButton buttonClose">取消</button>
                    </div>
                </div>
                <div class="f_left breedCheck">
                    <button>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        多选
                    </button>
                </div>
            </div>
        </div>

        <div class="filter">
            <div class="filterTit">
                <span>筛选条件:</span>
                <!--<em>
                    LPOJ
                    <i></i>
                </em>-->
            </div>
            <div class="filterList clearfix">
                <span>品种</span>
                <input type="text" />
                <span>应用</span>
                <input type="text" />
                <span>品牌</span>
                <input type="text" />
                <span>所在地</span>
                <input type="text" />
                <input type="checkbox" id="tradeType1" class="hideBack" />
                <label for="tradeType1"></label>
                <em>现货</em>
                <input type="checkbox" id="tradeType2" class="hideBack" />
                <label for="tradeType2"></label>
                <em>期货</em>
                <button>搜索</button>
            </div>
        </div>



    </div>

    <div class="lineBlue"></div>

    <div class="condition">
        <span class="borderRight">
            <a href="javascript:;">
                <span class="txtBlue">时间</span>
            </a>
        </span>
        <span class="borderRight">
            <a href="javascript:;">
                <span class="txtBlue">价格</span>
            </a>
        </span>
        <span>
            <input class="valueRange" type="text" placeholder="￥最低价" />
            <span>&nbsp;至&nbsp;</span>
            <input class="valueRange" type="text" placeholder="￥最高价" />
            <button class="valueSure">确定</button>
        </span>
        <span class="f_right changeCount">
            每页显示
            <a href="javascript:;">10条</a>
            <a href="javascript:;">20条</a>
            <a href="javascript:;">40条</a>
            <a href="javascript:;">60条</a>
        </span>
        <span class="getCount f_right">
            共搜到<span class="org">000</span>条数据
        </span>
    </div>
</form>


<!--产品属性	牌号  价格-->
<div class="productInfo">
    <ul class="productList">
        <li class="tit">
            <span class="col1">产品属性</span>
            <span class="col2">牌号</span>
            <span class="col3">价格(元/吨)</span>
            <span class="col3">数量(吨)</span>
            <span class="col3">所在地</span>
            <span class="col3">更新时间</span>
            <span class="col3">交货时间</span>
            <span class="col4">认购数量</span>
            <span class="col5">操作</span>
        </li>
        <li class="productLi">
            <span class="col1">
                <span class="productName qihuo">
                    <em>期货</em>
                    <em>LDRP</em>
                    <em>上海鲨鱼</em>
                </span>
            </span>
            <span class="col2">
                <span class="colName">赛科线性聚乙烯0220KJ</span>
                <a class="icon proCollect" href="javascript:;"></a>
            </span>
            <span class="col3">
                <em class="org">999.00</em>
            </span>
            <span class="col3">0.000</span>
            <span class="col3">杭州</span>
            <span class="col3">1天前</span>
            <span class="col3">2017-7-20</span>
            <span class="col4 countRange">
                <button><i class="fa fa-minus" aria-hidden="true"></i></button>
                <input type="text" value="20.000" />
                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
            <span class="col5">
                <button class="proBtn">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    洽谈
                </button>
            </span>
            <div class="litips hideBack">
                <span>交货地点: <em>杭州</em></span>
                <span>最低起订量: <em>20.000</em></span>
            </div>
        </li>
        <li class="productLi">
            <span class="col1">
                <span class="productName xianhuo">
                    <em>现货</em>
                    <em>LDRP</em>
                    <em>上海鲨鱼</em>
                </span>
            </span>
            <span class="col2">
                <span class="colName">赛科线性聚乙烯0220KJ</span>
                <a class="icon proCollect" href="javascript:;"></a>
            </span>
            <span class="col3">
                <em class="org">999.00</em>
            </span>
            <span class="col3">0.000</span>
            <span class="col3">杭州</span>
            <span class="col3">1天前</span>
            <span class="col3">2017-7-20</span>
            <span class="col4 countRange">
                <button><i class="fa fa-minus" aria-hidden="true"></i></button>
                <input type="text" value="20.000" />
                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
            <span class="col5">
                <button class="proBtn">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    洽谈
                </button>
            </span>
            <div class="litips hideBack">
                <span>交货地点: <em>杭州</em></span>
                <span>最低起订量: <em>20.000</em></span>
            </div>
        </li>
        <li class="productLi">
            <span class="col1">
                <span class="productName qihuo">
                    <em>期货</em>
                    <em>LDRP</em>
                    <em>上海鲨鱼</em>
                </span>
            </span>
            <span class="col2">
                <span class="colName">赛科线性聚乙烯0220KJ</span>
                <a class="icon proCollect" href="javascript:;"></a>
            </span>
            <span class="col3">
                <em class="org">999.00</em>
            </span>
            <span class="col3">0.000</span>
            <span class="col3">杭州</span>
            <span class="col3">1天前</span>
            <span class="col3">2017-7-20</span>
            <span class="col4 countRange">
                <button><i class="fa fa-minus" aria-hidden="true"></i></button>
                <input type="text" value="20.000" />
                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
            <span class="col5">
                <button class="proBtn">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    洽谈
                </button>
            </span>
            <div class="litips hideBack">
                <span>交货地点: <em>杭州</em></span>
                <span>最低起订量: <em>20.000</em></span>
            </div>
        </li>
    </ul>
</div>
@* pages *@
<div class="clearfix pageWrap">
    <div class="f_right proPage" id="pages">

    </div>
</div>

