@using System.Web.Optimization

@section styles
{
    @Styles.Render("~/Product/css")
}

@section scripts
{
    @Scripts.Render("~/Product/js")
}
<div class="main">

    <!--顶部栏-->
    <div class="topBar">
        <div class="topWrap clearfix">
            <div class="f_left topLeft">
                <span>您好,欢迎光临我们的网站</span>
                <a href="javascript:;" class="login">登录</a>
                <a href="javascript:;" class="register">注册</a>
            </div>

            <div class="f_right topRight">
                <a href="javascript:;" class="txtBlue yba">
                    <i class="icon"></i>
                    注册易宝
                </a>
                <div class="member">
                    <a href="javascript:;" class="personal">
                        <i class="icon headImage"></i>
                        个人中心
                        <i class="icon arrorDown"></i>
                    </a>
                    <ul class="personalList hideBack">
                        <li class="personal">
                            <i class="icon headImage"></i>
                            个人中心
                            <i class="icon arrorDown"></i>
                        </li>
                        <li>
                            <a href="javascript:;">商城订单</a>
                        </li>
                        <li>
                            <a href="javascript:;">我的资金</a>
                        </li>
                        <li>
                            <a href="javascript:;">安全中心</a>
                        </li>
                        <li>
                            <a href="javascript:;">发布供求</a>
                        </li>
                        <li>
                            <a href="javascript:;">账号管理</a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:;" class="pha">
                    <i class="icon"></i>
                    手机米斗
                </a>
                <a href="javascript:;" class="info">
                    <i class="icon"></i>
                    我的消息
                </a>
                <a href="javascript:;" class="helpCenter">
                    <i class="icon"></i>
                    帮助中心
                </a>
                <span class="hotLine">
                    客服热线: <i>666-666-6666</i>
                </span>
            </div>
        </div>
    </div>

    <!--头部-->
    <div class="head">
        <div class="clearfix headInfo">
            <div class="f_left logWrap">
                <a href="javascript:;">
                    <img src="../../images/midouLogo.jpg" alt="logo" />
                </a>
            </div>
            <div class="f_left">
                <div class="hotSearch">
                    <span>热门搜索:</span>
                    <a href="javascript:;">2017</a>
                    <a href="javascript:;">2018</a>
                    <a href="javascript:;">2019</a>
                </div>
                <div class="searchCont clearfix">
                    <div class="f_left searchWrap">
                        <input type="text" />
                        <p>请输入搜索内容</p>
                    </div>
                    <div class="f_left search">
                        搜索
                    </div>
                </div>
            </div>
            <div class="f_right btns">
                <a href="javascript:;" class="launch launchPurchase">发布采购需求</a>
                <a href="javascript:;" class="launch launchSupply">发布供求需求</a>
            </div>
        </div>

        <div class="noticeWrap clearfix">
            <div class="noticeList f_left">
                <ul>
                    <li>
                        <a href="javascript:;">达成深度合作</a>
                    </li>
                    <li>
                        <a href="javascript:;">达成深度合作</a>
                    </li>
                    <li>
                        <a href="javascript:;">达成深度合作</a>
                    </li>
                    <li>
                        <a href="javascript:;">达成深度合作</a>
                    </li>
                </ul>
            </div>
            <div class="f_right clearfix">
                <p class="f_right clock">
                    <span>
                        <i>距离开始:</i> <em>00</em>: <em>00</em>: <em>00</em>
                    </span>
                </p>
                <p class="f_right tradeTime">
                    交易时间: <span>工作日: 9:00-17:00</span>
                </p>
            </div>
        </div>
    </div>

    <!--导航菜单-->
    <div class="navMenu">
        <ul class="navList clearfix">
            <li class="plasticMenu">
                <a href="javascript:;" class="plasticItem">
                    <i></i>
                    塑料分类
                </a>
                <div class="leftBar hideBack">
                    <ul class="leftBarCon">
                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon1"></i>
                                <div class="cate">
                                    <span>
                                        <em>高压聚乙烯</em>
                                        <i>LDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="leftConName clearfix">
                                <i class="icon titIcon titIcon2"></i>
                                <div class="cate">
                                    <span>
                                        <em>低压聚乙烯</em>
                                        <i>HDPE</i>
                                    </span>
                                </div>
                                <i class="arrow"></i>
                            </div>
                            <div class="barSub hideBack">
                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">热门牌号</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">三菱高压LD2426H</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">主要应用</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">重包</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">薄膜</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">屠夫</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">注塑</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="barSubList clearfix">
                                    <div class="listTitle f_left">所在地</div>
                                    <ul class="f_right itemWrap clearfix">
                                        <li>
                                            <a href="javascript:;">嘉定</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">浦东</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宝山</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">厦门</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">杭州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">宁州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">常州</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">湖州</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>

            </li>
            <li class="active">
                <a href="javascript:;">首页</a>
            </li>
            <li>
                <a href="javascript:;">自营商城</a>
            </li>
            <li>
                <a href="javascript:;">竞拍</a>
            </li>
            <li>
                <a href="javascript:;">撮合市场</a>
            </li>
            <li>
                <a href="javascript:;">供应商专场</a>
            </li>
            <li>
                <a href="javascript:;">求购中心</a>
            </li>
            <li>
                <a href="javascript:;">资讯行情</a>
            </li>
        </ul>


    </div>

    <div class="wrap">
        <h3 class="wrapTitle">自营商城</h3>
        <form action="javascript:;">
            <div class="breed">
                <div class="breedRow clearfix">
                    <div class="breedTit f_left">
                        品&nbsp;种
                    </div>
                    <div class="f_left breedWrap clearfix">
                        <div class="f_left breedItem">
                            <div class="breedInner">
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF23</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF434</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF1</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF345</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF76767</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF23</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF434</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF1</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF345</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF76767</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF23</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF434</span>
                                </a>
                                <a href="javascript:;">
                                    <input class="hideBack" type="checkbox" />
                                    <span>LEDF1</span>
                                </a>
                                <a href="javascript:;">
                                    <input class="hideBack" type="checkbox" />
                                    <span>LEDF345</span>
                                </a>
                                <a href="javascript:;">
                                    <input class="hideBack" type="checkbox" />
                                    <span>LEDF76767</span>
                                </a>
                            </div>
                            <div class="breedSure hideBack">
                                <button class="breedButton buttonSure">确定</button>
                                <button class="breedButton buttonClose">取消</button>
                            </div>
                        </div>
                        <div class="f_left breedCheck">
                            <button>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                多选
                            </button>
                        </div>
                    </div>
                </div>

                <div class="breedRow clearfix">
                    <div class="breedTit f_left">
                        应&nbsp;用
                    </div>
                    <div class="f_left breedWrap clearfix">
                        <div class="f_left breedItem">
                            <div class="breedInner">
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF23</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF434</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF1</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF345</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>LEDF76767</span>
                                </a>
                            </div>
                            <div class="breedSure hideBack">
                                <button class="breedButton buttonSure">确定</button>
                                <button class="breedButton buttonClose">取消</button>
                            </div>
                        </div>
                        <div class="f_left breedCheck">
                            <button>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                多选
                            </button>
                        </div>
                    </div>
                </div>

                <div class="breedRow clearfix">
                    <div class="breedTit f_left">
                        生产商
                    </div>
                    <div class="f_left breedWrap clearfix">
                        <div class="f_left breedItem">
                            <div class="breedInner">
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>陕西北元</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>新疆天业</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>上海赛课</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>福建联合</span>
                                </a>
                            </div>
                            <div class="breedSure hideBack">
                                <button class="breedButton buttonSure">确定</button>
                                <button class="breedButton buttonClose">取消</button>
                            </div>
                        </div>
                        <div class="f_left breedCheck">
                            <button>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                多选
                            </button>
                        </div>
                    </div>
                </div>

                <div class="breedRow clearfix">
                    <div class="breedTit f_left">
                        所在地
                    </div>
                    <div class="f_left breedWrap clearfix">
                        <div class="f_left breedItem">
                            <div class="breedInner">
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>陕西</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>新疆</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>上海</span>
                                </a>
                                <a href="javascript:;">
                                    <input type="checkbox" />
                                    <span>福建</span>
                                </a>
                            </div>
                            <div class="breedSure hideBack">
                                <button class="breedButton buttonSure">确定</button>
                                <button class="breedButton buttonClose">取消</button>
                            </div>
                        </div>
                        <div class="f_left breedCheck">
                            <button>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                多选
                            </button>
                        </div>
                    </div>
                </div>

                <div class="filter">
                    <div class="filterTit">
                        <span>筛选条件:</span>
                        <!--<em>
                            LPOJ
                            <i></i>
                        </em>-->
                    </div>
                    <div class="filterList clearfix">
                        <span>品种</span>
                        <input type="text" />
                        <span>应用</span>
                        <input type="text" />
                        <span>品牌</span>
                        <input type="text" />
                        <span>所在地</span>
                        <input type="text" />
                        <input type="checkbox" id="tradeType1" class="hideBack" />
                        <label for="tradeType1"></label>
                        <em>现货</em>
                        <input type="checkbox" id="tradeType2" class="hideBack" />
                        <label for="tradeType2"></label>
                        <em>期货</em>
                        <button>搜索</button>
                    </div>
                </div>



            </div>

            <div class="lineBlue"></div>

            <div class="condition">
                <span class="borderRight">
                    <a href="javascript:;">
                        <span class="txtBlue">时间</span>
                    </a>
                </span>
                <span class="borderRight">
                    <a href="javascript:;">
                        <span class="txtBlue">价格</span>
                    </a>
                </span>
                <span>
                    <input class="valueRange" type="text" placeholder="￥最低价" />
                    <span>&nbsp;至&nbsp;</span>
                    <input class="valueRange" type="text" placeholder="￥最高价" />
                    <button class="valueSure">确定</button>
                </span>
                <span class="f_right changeCount">
                    每页显示
                    <a href="javascript:;">10条</a>
                    <a href="javascript:;">20条</a>
                    <a href="javascript:;">40条</a>
                    <a href="javascript:;">60条</a>
                </span>
                <span class="getCount f_right">
                    共搜到<span class="org">000</span>条数据
                </span>
            </div>
        </form>


        <!--产品属性	牌号  价格-->
        <div class="productInfo">
            <ul class="productList">
                <li class="tit">
                    <span class="col1">产品属性</span>
                    <span class="col2">牌号</span>
                    <span class="col3">价格(元/吨)</span>
                    <span class="col3">数量(吨)</span>
                    <span class="col3">所在地</span>
                    <span class="col3">更新时间</span>
                    <span class="col3">交货时间</span>
                    <span class="col4">认购数量</span>
                    <span class="col5">操作</span>
                </li>
                <li class="productLi">
                    <span class="col1">
                        <span class="productName qihuo">
                            <em>期货</em>
                            <em>LDRP</em>
                            <em>上海鲨鱼</em>
                        </span>
                    </span>
                    <span class="col2">
                        <span class="colName">赛科线性聚乙烯0220KJ</span>
                        <a class="icon proCollect" href="javascript:;"></a>
                    </span>
                    <span class="col3">
                        <em class="org">999.00</em>
                    </span>
                    <span class="col3">0.000</span>
                    <span class="col3">杭州</span>
                    <span class="col3">1天前</span>
                    <span class="col3">2017-7-20</span>
                    <span class="col4 countRange">
                        <button><i class="fa fa-minus" aria-hidden="true"></i></button>
                        <input type="text" value="20.000" />
                        <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                    <span class="col5">
                        <button class="proBtn">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            洽谈
                        </button>
                    </span>
                    <div class="litips hideBack">
                        <span>交货地点: <em>杭州</em></span>
                        <span>最低起订量: <em>20.000</em></span>
                    </div>
                </li>
                <li class="productLi">
                    <span class="col1">
                        <span class="productName xianhuo">
                            <em>现货</em>
                            <em>LDRP</em>
                            <em>上海鲨鱼</em>
                        </span>
                    </span>
                    <span class="col2">
                        <span class="colName">赛科线性聚乙烯0220KJ</span>
                        <a class="icon proCollect" href="javascript:;"></a>
                    </span>
                    <span class="col3">
                        <em class="org">999.00</em>
                    </span>
                    <span class="col3">0.000</span>
                    <span class="col3">杭州</span>
                    <span class="col3">1天前</span>
                    <span class="col3">2017-7-20</span>
                    <span class="col4 countRange">
                        <button><i class="fa fa-minus" aria-hidden="true"></i></button>
                        <input type="text" value="20.000" />
                        <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                    <span class="col5">
                        <button class="proBtn">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            洽谈
                        </button>
                    </span>
                    <div class="litips hideBack">
                        <span>交货地点: <em>杭州</em></span>
                        <span>最低起订量: <em>20.000</em></span>
                    </div>
                </li>
                <li class="productLi">
                    <span class="col1">
                        <span class="productName qihuo">
                            <em>期货</em>
                            <em>LDRP</em>
                            <em>上海鲨鱼</em>
                        </span>
                    </span>
                    <span class="col2">
                        <span class="colName">赛科线性聚乙烯0220KJ</span>
                        <a class="icon proCollect" href="javascript:;"></a>
                    </span>
                    <span class="col3">
                        <em class="org">999.00</em>
                    </span>
                    <span class="col3">0.000</span>
                    <span class="col3">杭州</span>
                    <span class="col3">1天前</span>
                    <span class="col3">2017-7-20</span>
                    <span class="col4 countRange">
                        <button><i class="fa fa-minus" aria-hidden="true"></i></button>
                        <input type="text" value="20.000" />
                        <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                    <span class="col5">
                        <button class="proBtn">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            洽谈
                        </button>
                    </span>
                    <div class="litips hideBack">
                        <span>交货地点: <em>杭州</em></span>
                        <span>最低起订量: <em>20.000</em></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="clearfix pageWrap">
        <div class="f_right proPage" id="pages">

        </div>
    </div>

</div>
<div class="chatBox">
    <div class="portlet box prolet-primary">
        <div class="portlet-header">
            <div class="caption text-uppercase"> <i style="font-size: 17px; margin-top: 2px;" class="fa fa-comments"></i>Chats</div>
            <div class="closeChat f_right fa fa-times-circle"></div>
        </div>
        <div class="portlet-body">
            <div class="chat-scroller">
                <ul class="chats">
                    <li class="in">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive" />
                        <div class="message">
                            <span class="chat-arrow"></span>
                            <a href="#" class="chat-name">Admin</a>&nbsp;
                            <span class="chat-datetime">at July 06, 2014 17:06</span>
                            <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                        </div>
                    </li>
                    <li class="out">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" class="avatar img-responsive" />
                        <div class="message">
                            <span class="chat-arrow"></span>
                            <a href="#" class="chat-name">Admin</a>&nbsp;
                            <span class="chat-datetime">at July 06, 2014 18:06</span>
                            <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                        </div>
                    </li>
                    <li class="in">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive" />
                        <div class="message">
                            <span class="chat-arrow"></span>
                            <a href="#" class="chat-name">Admin</a>&nbsp;
                            <span class="chat-datetime">at July 06, 2014 17:06</span>
                            <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                        </div>
                    </li>
                    <li class="out">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" class="avatar img-responsive" />
                        <div class="message">
                            <span class="chat-arrow"></span>
                            <a href="#" class="chat-name">Admin</a>&nbsp;
                            <span class="chat-datetime">at July 06, 2014 18:06</span>
                            <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                        </div>
                    </li>
                    <li class="in">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive" />
                        <div class="message">
                            <span class="chat-arrow"></span>
                            <a href="#" class="chat-name">Admin</a>&nbsp;
                            <span class="chat-datetime">at July 06, 2014 17:06</span>
                            <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-form">
                <div class="input-group">
                    <input id="input-chat" type="text" placeholder="Type a message here..." class="form-control" /><span id="btn-chat" class="input-group-btn"><button type="button" class="btn btn-green"><i class="fa fa-check"></i></button></span>
                </div>
            </div>
        </div>
    </div>
</div>