@{
    ViewBag.ActiveMenu = "PurchaseOrder";
}
@using Abp.Authorization.Roles
@using Abp.Web.Mvc.Extensions
@using ABPProject.Authorization
@using System.Web.Optimization

@section styles
{
    @Styles.Render("~/Table/css")
}
@section scripts
{
    @Scripts.Render("~/Table/js")
    @Html.IncludeScript("~/Areas/Admin/Views/PurchaseOrder/Index.js")
}
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">采购订单</div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;<a href="/Admin/Home/index">主页</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">采购订单</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">采购订单</li>
    </ol>
    <div class="btn btn-blue reportrange">
        <i class="fa fa-calendar"></i>&nbsp;<span></span>&nbsp;report&nbsp;<i class="fa fa-angle-down"></i>
        <input type="hidden" name="datestart" />
        <input type="hidden" name="endstart" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content" id="vue-app">
    <div id="tab-general">
        <div class="panel">
            <div class="panel-body">
                <ul id="content-tab" class="nav ul-edit nav-tabs">
                    <li id="tab-list" class="active">
                        <a href="#itemlist" data-toggle="tab">列表</a>
                    </li>
                    <li id="tab-edit">
                        <a href="#editItem" data-toggle="tab">新增/编辑采购订单</a>
                    </li>
                </ul>
                <div id="myCloseableTabContent" class="tab-content pan mtl mbn responsive ">
                    <div id="itemlist" class="tab-pane fade in active">
                        <div id="toolbar">
                            <button data-toggle="modal" data-target="#deleleAll-confirm" id="table-remove" class="btn btn-danger" disabled><i class="glyphicon glyphicon-remove"></i> 删除</button>
                            <button data-toggle="modal" v-on:click="createItem" id="createNewItem" class="btn btn-primary"><i class="fa fa-plus"></i>创建采购订单</button>
                        </div>
                        <table id="table-data"
                               data-toolbar="#toolbar"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-detail-view="true"
                               data-minimum-count-columns="2"
                               data-pagination="true"
                               data-id-field="id"
                               data-page-list="[10, 25, 50, 100, ALL]"
                               data-show-footer="false"
                               data-side-pagination="server"
                               data-url="/Admin/PurchaseOrder/PagedList"></table>
                    </div>
                    <div id="editItem" class="tab-pane fade">
                        <div class="panel panel-primary">
                            <div class="panel-heading">编辑采购订单</div>
                            <div class="panel-body pan">
                                <form name="editItemForm" id="editItemForm" role="form" class="form-horizontal">
                                    <div class="form-body pal">
                                        <h3>采购订单</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputFirstName" class="col-md-3 control-label">
                                                        供应商 <span class='require'>*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <select v-model="formItem.supplierId" class="form-control" name="supplierId" required>
                                                            <option v-for="option in supplier" v-bind:value="option.id">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputLastName" class="col-md-3 control-label">
                                                        销售合同 <span class='require'>*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <select v-model="formItem.contractId" class="form-control" name="ContractId" required>
                                                            <option v-for="option in contract" v-bind:value="option.id">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-md-3 control-label">
                                                        站点 <span class='require'>*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <select v-model="formItem.inventSiteId" v-on:change="inventSiteChange" class="form-control" name="inventSiteId" required>
                                                            <option v-for="option in inventSite" v-bind:value="option.id">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="selGender" class="col-md-3 control-label">
                                                        仓库 <span class='require'>*</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <select v-model="formItem.inventLocationId" class="form-control cannot-change" name="inventLocationId" required>
                                                            <option v-for="option in inventLocations" v-bind:value="option.id">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3>
                                        商品 <span class="btn btn-green btn-sm add-product" v-on:click="addProduct" name="addProduct" style="font-size: 13px !important"><i class="fa fa-plus"></i> 添加商品</span>
                                        </h3>
                                        <div v-for="purchaseOrderItem in formItem.purchaseOrderItems" class="sales-item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                            产品 <span class='require'>*</span>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <select v-model="purchaseOrderItem.productId" v-on:change="productChange($event)" v-bind:target="purchaseOrderItem.index" class="form-control" name="productId" required>
                                                                <option v-for="option in product" v-bind:value="option.id">
                                                                    {{ option.name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">批次号</label>
                                                        <div class="col-md-9">
                                                            <select v-model="purchaseOrderItem.inventBatchId" class="form-control" name="inventBatchId" required>
                                                                <option v-for="option in purchaseOrderItem.inventBatch" v-bind:value="option.id">
                                                                    {{ option.inventBatchNum }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">销售单价</label>
                                                        <div class="col-md-9">
                                                            <input v-model="purchaseOrderItem.purchCount" type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                            数量 <span class='require'>*</span>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <input v-model="purchaseOrderItem.purchPrice" type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-right" style="padding-right: 16px">
                                                <span v-on:click="delProduct($event)" v-bind:target="purchaseOrderItem.index" class="btn btn-danger btn-xs">删除</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions text-right">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button v-on:click="submitCancel($event)" target="tab-edit" type="button" class="btn btn-default submit-cancel">取消</button>
                                            <button v-on:click="subFormData" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>保存</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="del-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade del-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-default-label" class="modal-title">提示</h4>
                </div>
                <div class="modal-body">确认删除吗？</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button v-on:click="delConfirmed" type="button" id="del-confirmed" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div id="deleleAll-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade del-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-default-label" class="modal-title">提示</h4>
                </div>
                <div class="modal-body">您确认删除所有选中项吗？</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button type="button" id="deleleAll-confirmed" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
