
@{
    ViewBag.Title = "_Chat";
}

<div class="chatBox">
    <div class="portlet box prolet-primary">
        <div class="portlet-header">
            <div class="caption text-uppercase"> <i style="font-size: 17px; margin-top: 2px;" class="fa fa-comments"></i>Chats</div>
            <div class="closeChat f_right fa fa-times-circle"></div>
        </div>
        <div class="portlet-body">
            <div class="chat-scroller">
                <ul class="chats">
                    <li class="in">
                        <img src="../../images/48.jpg" class="avatar img-responsive" />
                        <div class="message">
                            <span class="chat-arrow"></span>
                            <a href="#" class="chat-name">Admin</a>&nbsp;
                            <span class="chat-datetime">at July 06, 2014 17:06</span>
                            <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                        </div>
                    </li>
                    @*<li class="out">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" class="avatar img-responsive" />
                            <div class="message">
                                <span class="chat-arrow"></span>
                                <a href="#" class="chat-name">Admin</a>&nbsp;
                                <span class="chat-datetime">at July 06, 2014 18:06</span>
                                <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive" />
                            <div class="message">
                                <span class="chat-arrow"></span>
                                <a href="#" class="chat-name">Admin</a>&nbsp;
                                <span class="chat-datetime">at July 06, 2014 17:06</span>
                                <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" class="avatar img-responsive" />
                            <div class="message">
                                <span class="chat-arrow"></span>
                                <a href="#" class="chat-name">Admin</a>&nbsp;
                                <span class="chat-datetime">at July 06, 2014 18:06</span>
                                <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive" />
                            <div class="message">
                                <span class="chat-arrow"></span>
                                <a href="#" class="chat-name">Admin</a>&nbsp;
                                <span class="chat-datetime">at July 06, 2014 17:06</span>
                                <span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </div>
                        </li>*@
                </ul>
            </div>
            <div class="chat-form">
                <div class="input-group">
                    <input id="input-chat" type="text" placeholder="Type a message here..." class="form-control" /><span id="btn-chat" class="input-group-btn"><button type="button" class="btn btn-green"><i class="fa fa-check"></i></button></span>
                </div>
            </div>
        </div>
    </div>
</div>

