
@{
    ViewBag.Title = "ProductTop";
}

<!--顶部栏-->
<div class="topBar">
    <div class="topWrap clearfix">
        <div class="f_left topLeft">
            <span>您好,欢迎光临恒瑞麟</span>
            <a href="javascript:;" class="login">登录</a>
            <a href="javascript:;" class="register">注册</a>
        </div>

        <div class="f_right topRight">
            <a href="javascript:;" class="txtBlue yba">
                <i class="icon"></i>
                注册恒瑞麟
            </a>
            <div class="member">
                <a href="javascript:;" class="personal">
                    <i class="icon headImage"></i>
                    个人中心
                    <i class="icon arrorDown"></i>
                </a>
                <ul class="personalList hideBack">
                    <li class="personal">
                        <i class="icon headImage"></i>
                        个人中心
                        <i class="icon arrorDown"></i>
                    </li>
                    <li>
                        <a href="javascript:;">商城订单</a>
                    </li>
                    <li>
                        <a href="javascript:;">我的资金</a>
                    </li>
                    <li>
                        <a href="javascript:;">安全中心</a>
                    </li>
                    <li>
                        <a href="javascript:;">发布供求</a>
                    </li>
                    <li>
                        <a href="javascript:;">账号管理</a>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="pha">
                <i class="icon"></i>
                手机版本
            </a>
            <a href="javascript:;" class="info">
                <i class="icon"></i>
                我的消息
            </a>
            <a href="javascript:;" class="helpCenter">
                <i class="icon"></i>
                帮助中心
            </a>
            <span class="hotLine">
                客服热线: <i>666-666-6666</i>
            </span>
        </div>
    </div>
</div>

<!--头部-->
<div class="head">
    <div class="clearfix headInfo">
        <div class="f_left logWrap">
            <a href="javascript:;">
                <img src="../../images/logos.jpg" alt="logo" />
            </a>
        </div>
        <div class="f_left">
            <div class="hotSearch">
                <span>热门搜索:</span>
                <a href="javascript:;">2017</a>
                <a href="javascript:;">2018</a>
                <a href="javascript:;">2019</a>
            </div>
            <div class="searchCont clearfix">
                <div class="f_left searchWrap">
                    <input type="text" />
                    <p>请输入搜索内容</p>
                </div>
                <div class="f_left search">
                    搜索
                </div>
            </div>
        </div>
        <div class="f_right btns">
            <a href="javascript:;" class="launch launchPurchase">发布采购需求</a>
            <a href="javascript:;" class="launch launchSupply">发布供求需求</a>
        </div>
    </div>

    <div class="noticeWrap clearfix">
        <div class="noticeList f_left">
            <ul>
                <li>
                    <a href="javascript:;">达成深度合作</a>
                </li>
                <li>
                    <a href="javascript:;">达成深度合作</a>
                </li>
                <li>
                    <a href="javascript:;">达成深度合作</a>
                </li>
                <li>
                    <a href="javascript:;">达成深度合作</a>
                </li>
            </ul>
        </div>
        <div class="f_right clearfix">
            <p class="f_right clock">
                <span>
                    <i>距离开始:</i> <em>00</em>: <em>00</em>: <em>00</em>
                </span>
            </p>
            <p class="f_right tradeTime">
                交易时间: <span>工作日: 9:00-17:00</span>
            </p>
        </div>
    </div>
</div>

<!--导航菜单-->
<div class="navMenu">
    <ul class="navList clearfix">
        <li class="plasticMenu">
            <a href="javascript:;" class="plasticItem">
                <i></i>
                塑料分类
            </a>
            <div class="leftBar hideBack">
                <ul class="leftBarCon">
                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon1"></i>
                            <div class="cate">
                                <span>
                                    <em>高压聚乙烯</em>
                                    <i>LDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="leftConName clearfix">
                            <i class="icon titIcon titIcon2"></i>
                            <div class="cate">
                                <span>
                                    <em>低压聚乙烯</em>
                                    <i>HDPE</i>
                                </span>
                            </div>
                            <i class="arrow"></i>
                        </div>
                        <div class="barSub hideBack">
                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">热门牌号</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">MUNTAJAT高压FE8000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">PTT高压聚乙烯LD1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">三菱高压LD2426H</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q210</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">上海石化高压聚乙烯Q281</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">主要应用</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">重包</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">薄膜</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">屠夫</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">注塑</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="barSubList clearfix">
                                <div class="listTitle f_left">所在地</div>
                                <ul class="f_right itemWrap clearfix">
                                    <li>
                                        <a href="javascript:;">嘉定</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">浦东</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宝山</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">厦门</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">杭州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">宁州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">常州</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">湖州</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>

        </li>
        <li class="active">
            <a href="javascript:;">首页</a>
        </li>
        <li>
            <a href="javascript:;">自营商城</a>
        </li>
        <li>
            <a href="javascript:;">竞拍</a>
        </li>
        <li>
            <a href="javascript:;">撮合市场</a>
        </li>
        <li>
            <a href="javascript:;">供应商专场</a>
        </li>
        <li>
            <a href="javascript:;">求购中心</a>
        </li>
        <li>
            <a href="javascript:;">资讯行情</a>
        </li>
    </ul>


</div>


